// Regular 400
@font-face {
  font-family: 'Eczar';
  src: url('./Eczar-Regular.ttf') format('truetype');
  font-weight: 400;
}

// Medium 500
@font-face {
  font-family: 'Eczar';
  src: url('./Eczar-Medium.ttf') format('truetype');
  font-weight: 500;
}

// SemiBold 600
@font-face {
  font-family: 'Eczar';
  src: url('./Eczar-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

// Bold 700
@font-face {
  font-family: 'Eczar';
  src: url('./Eczar-Bold.ttf') format('truetype');
  font-weight: 700;
}

// ExtraBold 800
@font-face {
  font-family: 'Eczar';
  src: url('./Eczar-Bold.ttf') format('truetype');
  font-weight: 800;
}